In [1]:
# !pip install yfinance # uncomment these to install missing packages if they are not already installed
# !pip install pandas 

import yfinance as yf
import pandas as pd

def get_price(tick,start='2022-10-01',end=None):
    return yf.Ticker(tick).history(start=start,end=end)['Close']

def get_prices(tickers,start='2022-10-01',end=None):
    df=pd.DataFrame()
    for s in tickers:
        df[s]=get_price(s,start,end)
    return df

# Prepare training and testing data sets

In [3]:
feature_stocks=['tsla','meta','goog','amzn','nflx','gbtc','gdx','intc','dal','c']
predict_stock='msft'

# training set
start_date_train='2022-10-01'
end_date_train='2022-12-31'

X_train=get_prices(feature_stocks,start=start_date_train,end=end_date_train)
y_train=get_prices([predict_stock],start=start_date_train,end=end_date_train)

# testing set
start_date_test='2023-01-01' # end date omit, default is doday
X_test=get_prices(feature_stocks,start=start_date_test)
y_test=get_prices([predict_stock],start=start_date_test)

In [4]:
X_train

,tsla,meta,goog,amzn,nflx,gbtc,gdx,intc,dal,c
Date,,,,,,,,,,
2022-10-03 00:00:00-04:00,242.399994,138.610001,99.300003,115.879997,239.039993,11.66,24.225462,25.927670,28.122061,39.835403
2022-10-04 00:00:00-04:00,249.440002,140.279999,102.410004,121.089996,240.740005,12.10,24.912365,26.629456,30.599907,41.566967
2022-10-05 00:00:00-04:00,240.809998,138.979996,102.220001,120.949997,236.729996,11.99,24.544725,26.571774,30.371029,41.033459
2022-10-06 00:00:00-04:00,238.130005,139.070007,102.239998,120.300003,240.020004,11.95,24.815617,26.129553,30.470541,40.303398
2022-10-07 00:00:00-04:00,223.070007,133.449997,99.570000,114.559998,224.750000,11.35,23.596603,24.725977,29.246544,39.489086
...,...,...,...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,123.150002,118.040001,89.809998,85.250000,294.959991,8.33,28.403605,25.420435,32.998142,41.905975
2022-12-27 00:00:00-05:00,109.099998,116.879997,87.930000,83.040001,284.170013,7.86,29.121811,25.274284,32.739414,42.029064
2022-12-28 00:00:00-05:00,112.709999,115.620003,86.459999,81.820000,276.880005,7.80,28.216673,24.884548,31.833855,42.246838
2022-12-29 00:00:00-05:00,121.820000,120.260002,88.949997,84.180000,291.119995,7.98,28.354410,25.537354,32.570240,42.758114
2022-12-30 00:00:00-05:00,123.180000,120.339996,88.730003,84.000000,294.880005,8.29,28.196995,25.751707,32.699608,42.824383

In [5]:
y_train

                                 msft
Date
2022-10-03 00:00:00-04:00  237.514328
2022-10-04 00:00:00-04:00  245.545273
2022-10-05 00:00:00-04:00  245.860962
2022-10-06 00:00:00-04:00  243.483261
2022-10-07 00:00:00-04:00  231.101425
...                               ...
2022-12-23 00:00:00-05:00  236.195023
2022-12-27 00:00:00-05:00  234.443817
2022-12-28 00:00:00-05:00  232.039612
2022-12-29 00:00:00-05:00  238.450821
2022-12-30 00:00:00-05:00  237.273468

[63 rows x 1 columns]

# Convert training and testing data into numpy array

In [6]:
import numpy as np

X_train=np.array(X_train)
y_train=np.array(y_train)
X_test=np.array(X_test)
y_test=np.array(y_test)

# Use linear regression to predict msft stock price from the other stocks' prices

## 1. Append a dummy feature to both X_train and X_test

In [ ]:
# Your solution here

## 2. Find the best linear regression model based on your training data ($w=(X X')^{-1} X y$)
### Note that you may need to transpose the matrices to make things work

In [ ]:
# Your solution here

## 3. Report your training and testing error
### How far your prediction from the actual price. Compute the mean square error for both training and testing

In [ ]:
# Your solution here